{{page-title "Add"}}
<div class="row">
  <div class="col">
    <Input @value={{@model.nom}} placeholder="Entrez votre nom"/>
  </div>
  <div class="col">
    <Input @value={{@model.prenom}} placeholder="Entrez votre prenom"/>
  </div>
  <div class="col">
    <Input @value={{@model.email}} placeholder="Entrez votre email"/>
  </div>
</div>
{{outlet}}