{{page-title "Board"}}
<div class="ui blue segment">
  <span class="ui label">{{@model.employee.email}}</span>
  <div align="right">
  <LinkTo @route="logout" class="ui black button">
    Deconnexion
  </LinkTo>
  </div>
</div>
<h2>Orders</h2>
<ul>
  {{#each @model.orders as |order|}}
  <li>
    {{moment-format order.dateCreation "LLLL"}} <span class="ui square label">{{order.orderdetails.length}}</span>
  </li>
{{/each}}
  <LinkTo @route="products">
    <button class="ui blue button"> Produits </button>
  </LinkTo>
  <LinkTo @route="section">
    <button class="ui blue button"> Sections </button>
  </LinkTo>
</ul>
{{outlet}}