{{page-title "Contacts"}}
<table class="table table-striped">
  <thead>
  <tr>
    <td>Nom</td>
    <td>Prénom</td>
    <td>Email</td>
  </tr>
  </thead>
  <tbody>
  {{#each @model.contacts as |contact|}}
    <tr>
      <td>{{contact.nom}}</td>
      <td>{{contact.prenom}}</td>
      <td>{{contact.email}}</td>
      <td>
        <button {{action "delete" contact}}class="btn btn-danger btn-sm">
          <i class="far fa-trash-alt"></i>
        </button>
      </td>
    </tr>
  {{/each}}
  </tbody>
  <tfoot>
  <tr>
    <td>
      <LinkTo @route="contacts.add">Ajouter</LinkTo>
      {{#if @model.deletedCount}}
        <button class="btn btn-danger" {{action "cancelDeletion" @model.deleteds}}>Annuler la suppression ( {{@model.deletedCount}} )</button>
      {{/if}}
    </td>
  </tr>
  </tfoot>
</table>
{{outlet}}