{{page-title "Ex2"}}
<h1>Services</h1>
<div class="alert alert-info">
  <span>Choisissez les éléments à inclure</span>
</div>
<ul>

  {{#each @model.services as |service|}}
    <li class="list-group-item" {{ action "toggleActive" service}}> {{service.name}} {{service.price}}</li>
  {{/each}}
</ul>
{{ plural @model.countActive 'Aucun service sélectionné'
          'service sélectionné' 'services sélectionnés'}}
{{outlet}}