{{page-title "order"}}
<div class="ui blue segment">
  <span class="ui label">{{@model.employee.email}}</span>
  <div align="right">
    <LinkTo @route="logout" class="ui black button">
      Deconnexion
    </LinkTo>
  </div>
</div>
<h2>Orders</h2>
<ul>
  {{#each @model.orders as |order|}}
    <li>
      <LinkTo @route="order" @model={{order.id}}>
        {{order.dateCreation}} <span class="ui circular label">{{order.count}}</span>
      </LinkTo>
    </li>
  {{/each}}
</ul>