{{page-title "Products"}}
<div class="ui green segment">
  <span class="ui label">{{@model.employee.email}}</span>
  <button class="ui black button" {{action "logout"}}>
    Logout
  </button>
</div>
<h2>Produits</h2>
<LinkTo @route="products.addproduct">
  <button class="ui green button" > Ajouter un produit </button>
</LinkTo>
<LinkTo @route="board">
  <button class="ui orange button"> Retour </button>
</LinkTo>
{{outlet}}
<table class="ui celled table">
  <thead>
  <tr>
    <th> Nom </th>
    <th> Prix </th>
    <th> Promotion </th>
    <th> Section </th>
  </tr></thead>
  {{#each @model.products as |product|}}
    <tbody>
    <tr>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.promotion}}</td>
      <td>{{product.section}}</td>

    </tr></tbody>
  {{/each}}
</table>